{% extends 'main/layout.html' %}

{% block content %}
{% if error %}
<span class="alert alert-danger row mt-2">Error! {{error}}</span>
{% endif %}
<div class="card ">
    <div class="card-header bg-dark text-white details">
            <p for="creator">Creater: {{ group.creator }}</p>
    </div>
    <div class="card-body position-relative">
        <div>
            <h2 class="card-title" style="margin-left: 20px;" for="topic"> {{group.topic}} </h2>
            <h6 class="date" style="margin-left: 20px;" for="interest">#{{ group.interest }}</h6>
            <h5 class="card-text" style="margin-left: 20px;" for="description"> {{group.description}} </h5>
        </div>
        <div class="row">
            <div class="col-2 text-right mt-4">
                {% if user == group.creator %}
                <a href="{% url 'group:edit' id=group.id %}" class="btn btn-outline-success"><i
                        class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'group:group_delete' id=group.id %}" class="btn btn-outline-danger"><i
                        class="fa-solid fa-trash-can"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}