

{% load socialaccount %}
{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form }}
    <button class="btn btn-primary" type="submit">Login</button>
    <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            
            Login with Google
        </a>
    </button>
  </form>
  <p class="text-center">Don't have an account? <a href="register">Create an account</a>.</p>
</div>

